/* basicstyle.css */

/* befintliga element */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}

body {
	font-family: Garamond;
    background-color: #F4F5ED;
    padding: 20px 0;
}

img {
	max-width: 100%;
	height: auto;
}

input[type=submit] {
		background: whiteSmoke;
		border: 1px solid #BBB;
		margin-bottom: 10px;
		color: #333;
		padding: 6px 20px;
		text-transform: uppercase;
		text-align: center;
		border-radius: 3px;
		 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: linear-gradient(top, #eeeeee, #cccccc);
}

input[type=submit]:hover {
		background: #E3E3E3;
		 -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
	}

	input[type=submit]:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 2px 2px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: linear-gradient(top, #eeeeee, #cccccc);
}


/* id */
#pstyle {
	font-size: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#sitewrapper {
	width: 100%;
	max-width: 700px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#contentwrapper {
	float: left;
	width: 100%;
	padding: 20px;
	background: #929487;
    position: relative;
}

/*******************
MENY
*******************/
#contentnav {
	width: 25%;
	float: left;
	margin-top: 20px;
}

#contentnav ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#contentnav ul li, #modurllinks ul li {
	margin-bottom: 5px;
	padding: 3px;
	background-color: #C7C9BE;
	color: white;
}

#contentnav ul li a, #modurllinks ul li a{
	text-decoration: none;
	color: black;
}

#contentnav ul li:hover, #modurllinks ul li:hover {
	background-color: #F4F5ED;
}
/******************/

#contentsection{
	width: 70%;
	float: right;
}

#buttonlink {
    position: relative;
    top: 0;
}

/*******************
TABELLEN MED SIFFROR
*******************/
ul#table {
	float: left;
	width: -webkit-calc(95% + 10*2px);
	width: -moz-calc(95% + 10*2px);
	width: calc(95% + 10*2px); 
}

ul#table,
ul#table li ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#table li ul li {
	float: left;
	padding: 1px;
	margin: 1px;
	width: -webkit-calc(100% / 10 - 2px);
	width: -moz-calc(100% / 10 - 2px);
	width: calc(100% / 10 - 2px); 
}

ul#table li ul li:hover {
}

ul#table img {
	display: block;
    border: black 1px solid;
    /* Denna deklareras så att bilderna anmieras tillbaka efter :hover */
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
	transition: all 1s;
}

ul#table img:hover {
	-moz-transition: all 0.25s linear;
	-moz-transform: rotate(-25deg) scale(1);
	-webkit-transition: all 0.25s linear;
	-webkit-transform: rotate(-25deg) scale(1);
}

ul#table img:active {
	-moz-transform: scale(4);
	-webkit-transform: scale(4);
}

#siteheader, #sitefooter {
	background: #DC4E00;
	color: white;
}
/******************/

#siteheader {
	font-size: 16px;
	padding: 5px 10px;
}

#sitefooter {
	float: left;
	width: 100%;
	font-size: 15px;
	text-align: center;
	padding: 20px 0;
}

#modurllinks ul li {
	display: inline;
	width: 100px;
	border-radius: 15px;
}

h1, p {
	color: white;
}